{% extends "../../store/base.html" %}
{% block title %}Account Deleted - Fashion Shop{% endblock %}
{% block content %}

<section class="page-wrapper success-msg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
              <i class="tf-ion-android-checkmark-circle"></i>
            <h2 class="text-center">Account deleted</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
            <a href="{% url 'store:all_product' %}" class="btn btn-main mt-20">Back to Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}