{% extends "../../store/base.html" %}
{% load static %}
{% block title %}Confirm Password - Fashion Shop{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<section class="forget-password-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="index.html">
                        <img class="img-logo" src="{% static 'images/logos.png' %}" alt="">
                    </a>
                    <h2 class="text-center">Change your password</h2>
                    <form class="text-left clearfix" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger alert-common" role="alert"><i class="tf-ion-close-circled"></i>
                            Error: Please try again!
                        </div>
                        {% endif %}
                        <p>Use the form below to change your password.</p>
                        <div class="form-group">
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-group">
                            {{ form.new_password2 }}
                        </div>
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                        <br>    
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">Request password reset</button>
                        </div>
                    </form>
                    <p class="mt-20"><a href="login.html">Back to log in</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}