{% extends "../store/base.html" %}
{% load static %}
{% block title %}Payment - Eco Shop{% endblock %}
{% block content %}

<section class="page-404">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'store:all_product' %}">
                    <img src="{% static 'images/logo.png' %}" alt="site logo" />
                </a>
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <a href="{% url 'store:all_product' %}" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
                <p class="copyright-text">© 2018 Themefisher All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}