{% extends "../base.html" %}
{% load static %}
{% block title %}{{ category.name }} - Eco Shop{% endblock %}

{% block content %}

<style>
  .img-responsive {
    max-height: 60vh;
    object-fit: cover;
  }

  .img-responsive-modal {
    max-height: 75vh;
    object-fit: cover;
  }

  @media only screen and (max-width: 1280px) {
    .img-responsive {
      max-height: 50vh;
      object-fit: cover;
    }
  }

  @media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .img-responsive {
      max-height: 100%;
      object-fit: cover;
    }
  }
</style>

<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">{{ category.name }}</h1>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">{{ category.name }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products section">
  <div class="container">
    <div class="row">

      {% if not products %}
      <div class="col-12">
        <div class="title text-center">
          <h4>There are currently no products active</h4>
        </div>
      </div>

      {% else %}
      {% for product in products %}
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="{{ product.image.url }}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal" id="toggle-product"
                    data-index="{{ product.id }}">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                {% if user.is_authenticated %}
                <li>
                  <a data-index="{{ product.id }}" class="add-wish"><i class="tf-ion-ios-heart"></i></a>
                </li>
                {% endif %}
                <li>
                  <a data-index="{{ product.id }}" class="add-product"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">{{ product.title }}</a></h4>
            <p class="price">${{ product.price }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      <div class="modal product-modal fade" id="product-modal">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img id="product-image" class="img-responsive-modal"
                      src="{% static 'images/modal-product.jpg' %}" alt="product-img" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 id="product-title" class="product-title">GM Pendant, Basalt Grey</h2>
                    <p id="product-price" class="product-price">$200</p>
                    <p id="product-description" class="product-short-description">
                      This pendant is made from sustainable materials, designed to minimize environmental impact without compromising on quality.
                It's perfect for eco-conscious individuals who appreciate both style and sustainability.
              </p>
                    <a data-index="" href="" class="btn btn-main add-product">Add To Cart</a>
                    <a id="absolute-url" href="" class="btn btn-transparent">View Product Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

    </div>
  </div>
</section>

<script>
  $(document).on('click', '#toggle-product', function (e) {
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "store:all_product" %}',
      data: {
        productid: $(this).data('index'),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        var item = json[0];
        var product = json[0].fields;
        var URL = 'https://pratamailham.pythonanywhere.com/';
        document.getElementById("product-title").innerHTML = product.title;
        document.getElementById("product-price").innerHTML = product.price;
        document.getElementById("product-description").innerHTML = product.description;
        $('#product-image').attr('src', URL + 'media/' + product.image);
        $('#absolute-url').attr('href', URL + 'item/' + product.slug);
        $('.product-short-details .add-product').attr('data-index', item.pk);
      },
      error: function (xhr, errmsg, err) {
        console.log(err);
      }
    });
  });
  $(document).on('click', '.add-product', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_add" %}',
      data: {
        productid: prodid,
        productqty: 1,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        $("#success-load").load("{{ request.path }} .media-load");
        showSnackbar("Product added to Cart", "#4BCA81");
      },
      error: function (xhr, errmsg, err) {
        console.log(err)
      }
    });
  });
  $(document).on('click', '.add-wish', function (e) {
    e.preventDefault();
    var prodid = $(this).data('index');
    $.ajax({
      type: 'POST',
      url: '{% url "wishlist:add" %}',
      data: {
        product_id: prodid,
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        console.log(json);
        showSnackbar("Product added to Wish", "#F260B5");
      },
      error: function (xhr, errmsg, err) {
        console.log(err)
      }
    });
  });
</script>
{% endblock %}